<div ng-controller="needysController" class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Contributor</th>
                    <th>Amount (Rs.)</th>
                    <th>Project</th>
                    <th>Date</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="c in contributions">
                    <td>{{c.contributorName}}</td>
                    <td>
                        {{c.ammount}}
                    </td>
                    <td>{{c.projectName}}</td>
                    <td>
                        {{ c.date  | date : 'dd/MM/yyyy' }}
                    </td>
                    <td><a href="#" ng-click="deleteContribution(c.contributionId,$index,$event)">Delete</a></td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>