<div ng-controller="donationsController" class="row">




    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <form name="form" class="form-login" role="form" ng-submit="saveProject(form.$invalid)">
        <h2 class="form-login-heading">Add Donation</h2>
            <select ng-model="ddlneedies" class="form-control" ng-options="needy.id as needy.name for needy in needys track by needy.id"></select>
            <select ng-model="ddlprojects" class="form-control" ng-options="project.id as project.name for project in projects track by project.id"></select>
        <input type="tel" class="form-control" placeholder="Amount(Rs.)" data-ng-model="addDonation.ammount" required autofocus>
        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="saveDonation(form)">Add</button>
        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
        </div>
        </form>
        <br /><br />
        <div>
            <input placeholder="Enter keyword to search" ng-model="f" style="
    border: 2px solid red;
    padding: 9px;
    margin-bottom: 15px;
    color: #dfdfdf;
    font-size: 20px;
"/>
        </div>
        <h3>Donations</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Needy</th>
                    <th>Amount(Rs.)</th>
                    <th>Date</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-animate="'animate'" data-ng-repeat="d in donations | filter:f">
                    <td>
                        {{d.projectName}}
                    </td>
                    <td>
                        {{d.needyName}}
                    </td>
                    <td>{{d.ammount}}</td>
                    <td>{{d.date | date:'dd/MM/yyyy'}}</td>

                    <td><a href="#" ng-click="deleteDonation(d.donationId,$index,$event)">Delete</a></td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>

</div>
<style>
    .animate-enter, .animate-leave {
transition: 500ms ease-in all;
position: relative;
display: block;
} 
.animate-enter.animate-enter-active, .animate-leave {
left: 0;
}
.animate-leave.animate-leave-active, .animate-enter {
left: 500px;
}
</style>