<div class="jumbotron">
    <div class="container" ng-controller="folderCtrl">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" ng-repeat="img in images" class="{active : ($index === 0)}" data-slide-to="{{$index}}"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div ng-class="{item: true, active : ($index === 0)}" ng-repeat="img in images">
                    <img ng-src="{{img}}" style="height:240px;width:600px;" alt=" {{img}}">
                    <div class="container">
                        <div class="carousel-caption"> </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div><div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to access the secured content.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>