
<div class="container-fluid banner">
    <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left m-t-sm">

            <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">



            <div id="carousel-example-generic" class="carousel slide top-slider">
                <h1 style="text-align:center; font-family: 'Kaushan Script', cursive;text-shadow: 1px 0px 0px #FFF;">Our Mission</h1>
                <p class="m-t-sm">
                    <b> Moftak Welfare Trust</b>, funds medical treatment and education needs for men, women and children in Pakistan. We believe that everyone should have access to the basic needs & neccessities of life and one should not be turned away due to his/her inability to pay.
                </p>
            </div>


        </div>
        <div style="height: 200px;" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 donation-banner">
            <div class="col-lg-10 float-none margin-0-auto inner">
                <div class="col-lg-12 m-t-xl text-center">
                    <div class="banner-3">

                        <!--<span>
                            <h3>Annual Target</h3>
                        </span>-->
                        <h3>Annual Target</h3>
                        <div class="blue-don">
                            <h4>$1 Million</h4>
                        </div>
                        <!--<span>-->
                           Your donation can make a difference and can bring a positive change in someone's life.
                           So, move ahead and donate.
                            <!--, we will ensure the transparency of funds-->  
                        <!--</span>-->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="jumbotron">
    <div class="container" ng-controller="folderCtrl">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" ng-repeat="img in images" class="{active : ($index === 1)}" data-slide-to="{{$index}}"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div ng-class="{item: true, active : ($index === 0)}" ng-repeat="img in images">
                    <img ng-src="{{img}}" style="height:240px;width:600px;" alt=" {{img}}">
                    <div class="container">
                        <div class="carousel-caption"> </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>


<div class="row fund_raising">
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-4 bottom-box" style="display:none;">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4 bottom-box" style="display:none;">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to access the secured content.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
</div>



<style type="text/css">
    .fund_raising {
    background: rgba(0, 0, 0, 0) url("../../Asset/Images/bg-fund_raising.jpg") repeat-x scroll left top;
    border-bottom: 1px solid #80848b;
    border-top: 1px solid #80848b;
    float: left;
    margin: 0px 0 0px;/*10px 0 20px*/
    width: 100%;
    height:355px;
}

   top-slider p {
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
}
.m-t-sm {
    margin-top: 10px;
}


.carousel {
    position: relative;
}
.top-slider {
    background: rgba(0, 0, 0, 0) url("../../Asset/Images/blue-transp-bg-2.png") repeat scroll 0 0;
    border-radius: 5px;
    height: 170px;
    margin-bottom: 30px;
    padding: 20px;
}


.bottom-box {
    background: rgba(0, 0, 0, 0) url("../../Asset/Images/blue-transp-bg-2.png") repeat scroll 0 0;
    border-radius: 4px;
    height: 140px;
    margin-bottom: 20px;
    /*padding: 15px;*/
    
}

  .bottom-box p {
      color:black;
    /*font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;*/
}

.banner {
    background: #ced3d7 url("../../Asset/Images/banner-bg.png") repeat-x scroll center top;
    border-bottom: 4px solid #00243a;
}


    .banner-3 {
background: rgba(0, 0, 0, 0) url("../../Asset/Images/green-transp-bg-2.png") repeat scroll 0 0;
    height: 210px;
    margin-bottom: 30px;
    padding: 1px;
    }

    .donation-banner {
    color: #fff;
}

    .donation-banner .blue-don {
    background: #6ec6ef none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    margin: 20px 5px 10px 20px;
    padding: 5px;
    text-align: center;
}



    .jumbotron {
     margin-bottom:0px!important;
    
    }


</style>