<div class="row GeneralBackground">
    <div class="col-lg-12">
        <h3>Latest Projects</h3>
    </div>
</div>
<hr  />
<div class="container" ng-controller="projectlistController">
    <div class="row text-center" >
       
            <div class="col-md-3  hero-feature" ng-repeat="proj in projects">
                <div class="thumbnail GeneralBackground">
                    <img src="../Asset/Images/projects/{{proj.id}}.jpg" style="width:80%;" alt="">
                    <div class="caption">
                        <h3>{{proj.name}}</h3>
                        <p >
                             {{ proj.description | limitTocustom:55 }}
                        </p>
                        <p>
                            <button class="btn btn-primary" ng-click="toggleModal(proj.id,proj.name,proj.description)">Donate!</button>  <a href="#/project/{{proj.id}}" class="btn btn-default">Detail</a>
                        </p>
                    </div>
                </div>
            </div>
       
    </div>
    <div  ng-show="success" ng-animate="{show: 'example-show'}">
        <p>Thank you for your donation, we will contact you shortly!</p>
    </div>
    <modal title="Donation Form" visible="showModal">
        <!--<form role="form">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>-->
        <form name="form" role="form" novalidate class="css-form panel">           
            <div  ng-animate="{hide:'example-hide'}">
                    <h2>{{projectname}}</h2>
                <p>{{ description }}</p>
                   
                <div>
                    Amount*:
                    <input type="number" class="form-control" placeholder="Pease Enter Amount" ng-model="Contributor.ammount" required autocomplete="on" />
                </div>
                <br />
                <button class="btn btn-primary" ng-click="Adddonation(Contributor)" >Donate</button>
                    <button class="btn btn-default" ng-click="reset()">Clear</button>
                <br />
                    <p>* denotes required fields</p>
                </div>
        </form>
        
    </modal>
</div>
<style>
    .hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
    
}
</style>
<!--For Donation form-->
<style type="text/css">
    .css-form input
    {
        background-color: #ffffff;
    }
    .css-form input.ng-invalid.ng-dirty {
        background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-dirty {
        background-color: #78FA89;
    }

    .white p {
        color: #fff !important;
    }


    .thumbnail {
    height:300px;
    }
    
</style> 



