<form name="form" class="form-login signup" role="form" ng-submit="signup(form.$invalid)">
    <h2 class="form-login-heading">Sign up</h2>
    <input type="text" class="form-control" placeholder="Username" data-ng-model="registration.userName" required autofocus>
    <input type="text" class="form-control" placeholder="First Name" data-ng-model="registration.firstName" required />
    <input type="text" class="form-control" placeholder="Last Name" data-ng-model="registration.lastName" required />
    <input type="tel" class="form-control" placeholder="Phone Number" data-ng-model="registration.phoneNumber" required />
    <input type="email" class="form-control" placeholder="Email" data-ng-model="registration.email" required />
    <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp(form)">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>