
<div ng-controller="usersController" class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>username</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Is Active</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in users">
                    <td>
                        {{ user.userName }}
                    </td>
                    <td>
                    </td>
                    <td>
                        
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
