<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>MWT - Moftak Welfare Trust</title>
    <link href="Asset/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Asset/Content/site.css" rel="stylesheet" />
    <link href="Asset/Content/loading-bar.css" rel="stylesheet" />
    <link href="Asset/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
    </style>
    <style>
        #slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top ng-scope" role="navigation" data-ng-controller="indexController">
        <div class="container">

            <!--<img src="../../Asset/Images/Icon/logo.jpg" style="float:left;height:40px;width:170px; margin-top:5px;" />-->

            <div class="navbar-header">
                
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>

                <a class="navbar-brand" href="#/"><img style="height: 40px; width: 170px; margin-top:-9px" src="../../Asset/Images/Icon/logo.jpg" alt="home"></a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li data-ng-hide="!(authentication.isAuth && authentication.role ==='Admin')" class="ng-hide"><a href="#/projects">Projects</a></li>
                    <li data-ng-hide="!(authentication.isAuth && authentication.role ==='Admin')" class="ng-hide"><a href="#/needys">Needys</a></li>
                    <li data-ng-hide="!(authentication.isAuth && authentication.role ==='Admin')" class="ng-hide"><a href="#/donations">Donations</a></li>
                    <li data-ng-hide="!(authentication.isAuth && authentication.role ==='Admin')" class="ng-hide"><a href="#/contributions">Contributions</a></li>
                    <li data-ng-hide="!(authentication.isAuth && authentication.role ==='Admin')" class="ng-hide"><a href="#/users">Users</a></li>
                    <li data-ng-hide="authentication.role ==='Admin'" class="ng-hide"><a href="#/projectlist" class="ng-binding">Projects</a></li>
                    <li data-ng-hide="!authentication.isAuth" class="ng-hide"><a href="#/profile" class="ng-binding">Welcome {{authentication.userName}}</a></li>
                    <li data-ng-hide="!authentication.isAuth" class="ng-hide"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li data-ng-hide="authentication.isAuth" class=""> <a href="#/login">Login</a></li>
                    <li data-ng-hide="authentication.isAuth" class=""> <a href="#/signup">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
   

    <div class="container">
        <div data-ng-view="">
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                
               
                <!--<p>-->Copyright <b>©</b> 2016 - Moftak Welfare Trust ~ MWT <!--</p>-->
              
            </div>
        </div>
    </div>
    <!-- Libs -->
    <script src="Asset/Scripts/angular.min.js"></script>
    <script src="Asset/Scripts/angular-route.min.js"></script>
    <script src="Asset/Scripts/angular-local-storage.min.js"></script>
    <script src="Asset/Scripts/loading-bar.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <!-- app -->
    <script src="app/app.js"></script>

    <!-- services -->
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/usersService.js"></script>
    <script src="app/services/projectsService.js"></script>
    <script src="app/services/profileService.js"></script>
    <script src="app/services/needysService.js"></script>
    <script src="app/services/projectlistService.js"></script>
    <script src="app/services/contributionsService.js"></script>
    <script src="app/services/donationsService.js"></script>


    <!-- controllers -->
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/signupController.js"></script>
    <script src="app/controllers/usersController.js"></script>
    <script src="app/controllers/projectsController.js"></script>
    <script src="app/controllers/profileController.js"></script>
    <script src="app/controllers/needysController.js"></script>
    <script src="Asset/Scripts/angular-bootstrap.min.js"></script>
    <script src="app/controllers/projectlistController.js"></script>
    <script src="app/controllers/contributionsController.js"></script>
    <script src="app/controllers/donationsController.js"></script>



    <script>
        
        app.controller('folderCtrl', function ($scope, $http) {
            $scope.images = ['../../Asset/Images/images (1).jpg', '../../Asset/Images/helping-others.jpg', '../../Asset/Images/ngo_mysore.jpg', '../../Asset/Images/ngo.jpg', '../../Asset/Images/M_Id_307360_NGO.jpg'];
        });     
    </script>
</body>
</html>
